*{
	padding: 0;
	margin: 0;
}

body {
	background-color: lavender; 
} 

#editor, #creator {
	font-family: Arial;
	color: black;
	display: inline;
	margin: 10px 30px;
}

#header {
	background-color: skyBlue;
	padding: 30px;
	width: 600px;
	border-radius: 30px;
	margin: 0 auto; 
	text-align: center;
}

.names {
	border: medium solid skyBlue; 
	width: 650px;
	padding: 10px; 
	margin: 20px auto; 
	text-align: center;
	background-color: aliceBlue;
	margin-top: 50px;
}

p {
	font-size: 18px;
	line-height: 150%;
} 

.introduction {
	padding: 0px 200px;
	padding-bottom: 30px;
	padding-top: 75px;
}
	

#picture {
	margin: 10px 0px; 
	margin-left: 150px;
	width: 700px;
	margin-right: 50px;
}


#description {
	padding: 20px; 
	width: 415px; 
	height: 350px; 
	float: right;
	margin: 50px 0px;
	margin-right: 150px;
	background-color: aliceBlue;
}

.paris_story { 
	padding: 25px 100px;
} 

.favourite_quote {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0px 220px;
	margin-top: 30px;
	padding: 0px 60px;
	padding-top: 220px;
	padding-bottom: 70px;
}

#quote {
	font-style: italic;
	font-family: Questrial;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.caption { 
	padding-left: 220px;
	padding-top: 5px;
} 